@tailwind base;
@tailwind components;
@tailwind utilities;

.bullet-points li {
    margin: 12px 42px;
    font-size: 18px;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.img {
 box-shadow:  0 4px 20px 0 rgba(0,0,0,.1);
}

#content{
    width: 100%;
    height:100%;
}

.child {
  display: none;
}

.parent:hover .child {
  display: flex;
  gap: 6px;
}

input[type="radio"] {
  display: none;
}

/* Style for the label */
.my-radio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #27272A;
  color: #E4E4E7;
  /* border: 1px solid #ccc; */
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Style for when radio button is checked */
input[type="radio"]:checked + .my-radio-button {
  background-color: #3b82f6;
  color: #fff;
}

/* Optional: Add some margin between radio buttons */
.my-radio-button + .my-radio-button {
  margin-left: 10px;
}

.sidebar-active-link { position: relative }

@media only screen and (min-width: 769px) {
  .sidebar-active-link::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: #3B82F6;
    border-radius: 4rem;
    display: inline-block;
    width: 4px;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-active-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    background-color: #3B82F6;
    border-radius: 4rem;
    display: inline-block;
    width: 100%;
    height: 4px;
  }
}

