@tailwind base;
@tailwind components;
@tailwind utilities;

.bullet-points li {
    margin: 12px 42px;
    font-size: 18px;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.img {
 box-shadow:  0 4px 20px 0 rgba(0,0,0,.1);
}

#content{
    /* padding: 4px; */
    width: 100%;
    height:100%;
    /* color:black; */
    /* background-color: aliceblue; */
}

/* .parent {
    position: relative;
  } */

  .child {
    /* position: absolute; */
    /* right: 2%; */
    display: none;
  }

  .parent:hover .child {
    display: flex;
    gap: 6px;
  }